@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
}
a {
  text-decoration: none;
}
p {
  font-size: 81.25%;
  color: hsl(214, 17%, 51%);
}
h3 {
  color: hsl(217, 19%, 35%);
}
#container {
  width: 700px;
  height: 320px;
  display: grid;
  grid-template-columns: 0.7fr 1.08fr;
  grid-auto-rows: 270px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-container {
  background-image: url(/images/drawers.jpg);
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.preview {
  background-color: #ffffff;
  padding: 10px 50px 10px 30px;
  position: relative;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.avatar {
  width: 40px;
  border-radius: 50%;
  float: left;
}
.name {
  padding: 3px 0 0 60px;
  color: hsl(217, 19%, 35%);
}
.date {
  color: hsl(214, 17%, 51%);
}
.icon_share {
  position: absolute;
  left: 87%;
  bottom: 15%;
  border-radius: 50%;
  background-color: hsl(210, 46%, 95%);
  padding: 3px 5px;
  color: hsl(217, 19%, 35%);
  cursor: pointer;
  transition: all 0.5s;
  z-index: 2;
}
.icon_share:hover {
  background-color: hsl(217, 19%, 35%);
  color: hsl(210, 46%, 95%);
}
.share_menu {
  width: 220px;
  height: 40px;
  background-color: hsl(217, 19%, 35%);
  position: relative;
  left: 68%;
  bottom: 40%;
  box-shadow: 0px 0px 5px 0px hsl(214, 17%, 51%);
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: context-menu;
}
.share_menu_tip {
  width: 18px;
  height: 50px;
  background-color: hsl(217, 19%, 35%);
  transform: rotate(42deg);
  position: absolute;
  left: 55%;
  z-index: -1;
}
.share_menu p {
  padding: 10px 10px 10px 20px;
  font-size: 1rem;
  color: hsl(214, 17%, 51%);
  letter-spacing: 3px;
}
.fab {
  padding-left: 10px;
  color: white;
  font-size: 1.1rem;
  transition: color 0.5s;
}
.fb:hover {
  color: rgb(87, 87, 216);
}
.twitter:hover {
  color: rgb(93, 175, 207);
}
.pint:hover {
  color: crimson;
}
#open_share_menu:checked ~ .share_menu {
  opacity: 1;
}
#open_share_menu {
  display: none;
}
@media only screen and (max-width: 845px) {
  #container {
    width: 80%;
    height: auto;
    grid-template-columns: 1fr;
    grid-auto-rows: 300px minmax(100px, max-content);
  }
  .img-container {
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
  }
  .preview {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
  .share_menu {
    left: 76%;
    bottom: 30%;
  }
}
@media only screen and (max-width: 660px) {
  #container {
    padding-bottom: 0;
  }
  .preview {
    padding-right: 30px;
  }
  .share_menu {
    box-shadow: none;
    width: calc(100% + 60px);
    height: 40px;
    padding: 0 0 15px;
    top: 3%;
    left: -30px;
    bottom: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .share_menu_tip {
    display: none;
  }
}
